:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  color: #1db954;
}

h3 {
  font-size: 1em;
  margin: 8px 0;
}

#ad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #121212;
}

#weather-container {
  padding-top: 2em;
}

.weather-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.playlist-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 4%;
  object-fit: fill;
  cursor: pointer;
}

#logo {
  width: 50px;
  background-image: url("./img/Spotify_Logo_RGB_Green.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}
